<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vælg filtrering af billeder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<main>
<div class="container-fluid">
  <div class="filter-class">
    <div class="filter-bar">
      <button class="filter-btn"><i class="fa fa-filter" aria-hidden="true"></i> Vælg Filtre</button>
    </div>
    <form method="POST" action="/filter_images" id="filter-page">
    <div class="filter-form">
        <div class="row">
            <div class="col-sm-4">
                <h4>Hvem skal være på billederne?</h4>
                {% for person in people %}
                  <div class="form-group">
                    <input type="checkbox" name="peoplefilter" value="{{ person.0 }}"> {{ person.0 }}
                  </div>
                {% endfor %}
              </div>        
              <div class="col-sm-4">
                <h4>Hvor skal billederne være taget?</h4>
                  {% for country in countries %}
                    <div class="form-group">
                      <input type="checkbox" name="countryfilter" value="{{ country }}"> {{ country }}
                    </div>
                  {% endfor %}
            </div>
              <div class="col-sm-4">
                <h4>Hvornår skal billederne være fra?</h4>
                <div class="form-group">
                    <label for="start-date">Start Dato:</label>
                    <input type="date" id="start-date" name="start_date">
                </div>
                <div class="form-group">
                    <label for="end-date">Slut Dato:</label>
                    <input type="date" id="end-date" name="end_date">
                </div>
            </div>      
          <div class="col-sm-4">
            <h4>Søg efter billeder</h4>
            <div class="form-group">
            <label for="tekst-box">Indtast søgeord:</label>
            <input type="text" class="custom-input" name="tekst-box" placeholder="Tast søgeord...">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<section class="welcome-section">
  <div class="container">
      <h1>Velkommen til PhotoFetchr </h1>
      <p>Denne hjemmeside er tiltænkt som en grafisk indgang i mit billedeprojekt hvor formålet er at skabe en struktureret oversigt, organisere og præsentere billeder fra mit liv.</p>
  </div>
</section>

<div class="container">
  <div class="button-container">
    <button type="button" class="button" onclick=showInstructions()>
        <i class="fa fa-question-circle"></i>
        <span>Hvordan virker det?</span>
    </button>
    <button type="button" class="button" onclick=showRandomPicture()>
        <i class="fa fa-random"></i>
        <span>Vis mig et tilfældigt billede</span>
    </button>
    <button class="button">
        <i class="fa fa-filter"></i>
        <span>Vis billeder fra filtre</span>
    </button>
  </div>

  <div id="instructions-container" class="hidden">
    <div class="instruction">
        <div class="circle">1</div>
    </div>
    <div class="instruction">
        <div class="circle">2</div>
    </div>
    <div class="instruction">
      <div class="circle">3</div>
  </div>
   <div class="instruction">
    <div class="circle">4</div>
   </div>
  </div>

  <div id="instruction-explanations">
    <div class="instruction-explanation">
      (1) "Vælg Filtre"-knappen bruges til at udvælge de billeder som man vil se. Her kan filtreres på hvor og hvornår billederne er taget, hvem som optræder på de viste billeder, eller et specifikt søgeord.
    </div>
    <div class="instruction-explanation">
      (2) Denne knap åbner og lukker denne hjælpeforklaring, og bør trykkes på igen inden nogle af de andre knapper benyttes. 
    </div>
    <div class="instruction-explanation">
      (3) Denne knap viser et tilfældigt billede i bunden af siden, billedet er fuldstændig tilfældigt og kan være taget når som helst. 
    </div>
    <div class="instruction-explanation">
      (4) Denne knap benyttes efter "Vælg Filtre"-knappen ved nummer (1) for at få vist de valgte billeder fra filtrene. 
    </div>
  </div>

  <div id="random-picture">
    <!-- The random picture will be displayed here -->
  </div>

</div>
</form>
</main>
<footer>
    <div class="container text-center">
        &copy; 2023 Frederik Tørnstrøm. All rights reserved.
    </div>
</footer>

<script src="../static/scripts.js"></script>
</body>
</html>